@font-face {
    font-family: 'MyriadPro';
    src: url('tamplete/font/MYRIADPRO-REGULAR.OTF') format('opentype');
}
@import url('https://fonts.googleapis.com/css2?family=Badeen+Display&family=Playwrite+GB+S+Guides:ital@0;1&family=Playwrite+IN+Guides&family=Playwrite+MX+Guides&family=Playwrite+US+Trad+Guides&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Yuji+Mai&display=swap');
:root{
    --main-font: "Badeen Display", serif;
    --main-font-size: 18px;
    --main-font-color: #ffffff;
    --background:#fff;
    --backgroundnav:#daac00;
    --backbutton:#00bec9;
    --boxshadow1:16px 17px 18px rgb(0, 0, 0 ,10%);
    --backgroudsection:#fcc302;
    --btn1:#00bec9;
    --noir:#000000;
    --sectionflu:#fcc30291;
    --bgfooter:#343434;
    
}
*{
    margin: 0;
    padding: 0;
 
}
body {
    font-family: var(--main-font);
    font-size: var(--main-font-size);
    color: var(--main-font-color);
    background-color: var(--background);
    margin: 0;
    padding: 0;
    
}
section{
width: 100%;
    /*height: 900px;*/
    padding: 0pc;
    margin: 0px;
    display: flex;
    justify-content: center;
    text-align: center;
}
nav{
    background-color: var(--backgroundnav);
    height: 90px;
    width: 100%;
    
    display: flex;
    align-items: center;
    
}
nav .logo{
    width: 30%;
   
}

nav .logo img{
    width: 318px;
    height: 68px;
  margin-left: 138px;
}
nav .menu{
    width: 40%;
    display: flex;
  /*  justify-content: center;*/
 
}
nav .menu ul{
    display: flex;
   
    list-style: none;
  
}
nav .menu ul li{
   margin-right: 30px;
}
nav .menu ul li a{
   text-decoration: none;
   color: var(--main-font-color);
   font-size: 36px;
 }
/* 
nav .search-container{
    width: 30%;
} */
nav .search-container .search{
    position: relative;
    width:284px;
    height:40px;
    background-color: #fcc302;
    border: none;
    padding: 14px;
    font-size: 20px;
    box-shadow: var(--boxshadow1);
}
nav .search-container i{
    position: absolute;
    top: 25px;
    /* right: 287px; */
    height: 40px;
   
    width: 40px;
    text-align: center;
    background-color: var(--backbutton);
    box-shadow: var(--boxshadow1);

}
.fa-search:before {
    content: "\f002";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.section1,.section3,.section5,.section7,.section9{
    background-color: var(--backgroudsection);
}
.section1 div ,.section2 div,.section3 div,.section4 div,.section5 div,.section6 div,.section7 div,.section8 div,.section9 div{
 
    padding: 116px;
    
 }
 .section1 div h1, .section2 div h1 ,.section4 div h1{
    font-size: 82px;
    text-align: left;

    
 } 
 .section1 div p , .section2 div p, .section4 div p{
    font-size:32px;
    text-align: left;
    padding-bottom: 50px;
    
 }
 .section1 div a, .section2 div a, .section4 div a  {
   text-decoration: none;
   margin: 12px;

    
 }
 .section1 div .btn1 {
 background-color:var(--btn1);
 padding: 13px;
 color: var(--main-font-color);
 border-radius: 9px;
 }
 .section1 div .btn2, .section2 div .btn2 ,.section4 div .btn2{
    background-color: var(--backgroudsection);
    padding: 13px;
    border: 1px solid #fff;
  color: var(--main-font-color);
    border-radius: 9px;
    }
.section1 div img{
   width: 70%;

}

.contat{
    text-align: justify;

}


.section2 div p,.section2 div h1,.section4 div p,.section2 div h1,.section4 div h1,.section6 div h1{
  
    color: var(--noir);
}
.section2 div h1,.section4 div h1,.section6 div h1{
    font-size: 50px;
}





.div2{
    position: relative;
padding: 0px;
}
.video-container {
    position: relative;
    width: 550px!important;
    height: 350px!important;
    border-radius: 10px;
    overflow: hidden;
    cursor: pointer;
    padding: 0px!important;
}

/* صورة الغلاف */
.thumbnail {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* تأثير التراكب */
.overlay {
    padding: 0px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%!important;
    height: 100%;
    background: rgba(255, 204, 0, 0.5);
    z-index: 1;
}

/* زر التشغيل */
.play-button {

    padding: 0px!important;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    width: 60px!important;
    height: 60px!important;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.play-button::before {
    content: "▶";
    font-size: 24px;
    color: #daac00
}

/* الفيديو */
.video {
    width: 100%;
    height: 100%;
    display: none;
}
.carre{
    position: absolute;
    top: 50%;
    left: 10%;
    background: #daac00;
    z-index: -1;
    width: 2px !important;
    height: 2px !important;

}

.section3,.section5,.section6,.section8{
    flex-direction: column;
    text-align: center;
    padding: 20px 0px;
}
.section3 .titre,.section5 .titre,.section6 .titre,.section8 .titre
{
width: 100vw;
font-size: 24px;
height: auto;
padding: 10px 0px;
overflow: hidden;
}
.section3 .titre h2,.section5 .titre h2,.section6 .titre h2
{
    font-size: 6rem;
    padding: 0;
    margin: 0;

}
.section3 .cont,.section5 .cont,.section6 .cont
{
display: flex;
justify-content: center;
align-items: center;
flex-direction: row;
padding: 0;
margin: 0;
}

.section3 .card,.section5 .card,.section6 .card,.section7 .card
{

padding: 0 50px;
margin: 0;

text-align: center;
}
.section3  .card img,.section5  .card img,.section6  .card img.section7  .card img{
    border: 6px solid #fff;
    width: 90%;
    height: auto;
}


.section3  .card h4,.section5  .card h4,.section6  .card h4{
    padding: 0;
    font-size: 3rem;
    font-weight: 800;
    margin: 5px;
}
.section3  .card p{
    white-space:pre-line;
    font-size: 1.5rem;
}




.section4 .carre{
    position: absolute;
    top: 50%;
    left: 60%;
    background: #daac00;
    z-index: -1;
    width: 2px !important;
    height: 2px !important;

}
.section5{
    padding-bottom: 40px;
}
.section5 .card h4{
font-size: 1.8rem;
padding-bottom: 16px;
}

.section5 .card h4 span{
    text-decoration: line-through;
    margin-right: 10px;
    }
    

.section5 .card .btncard{
   background-color: var(--btn1);
   padding: 4px 21px;
   margin: 10px;
   border-radius: 26px;
   text-decoration: none;
    font-size: 1.5rem;
}



.section6{
    padding-bottom: 40px;
}


.section6 .titre p{
    line-height: 0.8;
}
.section6 .titre,.section6 .cont .card h4,.section6 .cont .card span{
    white-space:pre-line;
    color:var(--noir);
}
.section6 .cont .card img{

    box-shadow:var(--boxshadow1);
}



.section6 .cont .card h4{
    font-size: 2rem;
}
.section6 .cont .card span{
    font-size: 1rem;
}
.section6 .cont .card .iconn{
    padding: 5px;
}
.section6 .cont .card a img{
width: 40px;
padding: 10px;
border: none;
box-shadow:none;

}


.section6 .card .icon{
    padding: 15px;
    text-align: center
    
    }
    
.section6 .card .icon a
    {    background: var(--backgroundnav);
        border-radius: 50%;
        width: 33px;
        height: 33px;
        padding: 8px 11px;
        font-size: 20px;
        margin-right: 5px;
    }
.section6 .card .icon i{
        color:var(--main-font-color)
    
    }
    



.section7{
    background-image: url('../../img/bg2.jpg') ;
 
    background-repeat: no-repeat;
    background-clip: border-box;
    background-size: 100% 100%;
    padding: 160px 0px;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: row;
    justify-content: space-around;
    position: relative;
}
.section7::before{
content: '';
width: 100%;
height: 100%;
background: var(--sectionflu);
top: 0;
position: absolute;

}
.section7 .card{ 
    width: 90%;
z-index: 9;
}
.section7 .card h4{ 
 font-size: 1.5rem;
}

.section7 .card span{ 
    font-size: 2.5rem;
    font-weight: bold;

}
.section8 .titre h2{
font-size: 4rem;
padding-bottom: 14px;
}
.section8 .titre{

    color: var(--noir);

}
.section8 .cont{
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: row;

padding: 0px;
}

.section8 .card{
    box-shadow: 0 0 10px var(--noir);
    width: 20%;
    text-align: center;
    margin: 0;
    padding: 2px 0px;
    color: var(--noir);
    position: relative;
    margin: 20px;
}
.section8 .card img{

    width: 100%;
    height: 250px;
  

}
.section8 .card .cardcont{
padding: 8px;
    text-align: left;
padding-bottom: 30px;
}

.section8 .card .cardcont h3{

    text-align: left;
    
    font-size: 1.8rem;
  margin: 0;
margin-bottom: 5px;
}
.section8 .card .cardcont span{

    color: var(--btn1);
    font-size: 1rem;
    text-align: left !important;

   
}

.section8 .card .cardcont p{
    font-size: 1.2rem;
    text-align: left !important;
    padding: 10px 0px 10px 8px;
  

}
.section8 .card .cardcont a{

    font-size: 1.5rem;
    color: var(--btn1);
    text-decoration: none;
    font-weight: bold;
  

}
.section9{

    background-color: var(--bgfooter);
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: row;
}
.section9 .col1{   
    line-height: 2;
    text-align: left;}
.section9 h5{
    font-size: 3rem;
    font-weight: 700;
}

.section9 li{
    list-style: none;
}
.section9 li a{
    text-decoration: none;
    color: var(--main-font-color);
    text-align: left;
    line-height: 1.5px;
}
.col1 input{
    width: 72%;
    background-color: var(--backgroundnav);
    height: 46px;
    border: none;
    position: relative;

}
.col1 button{
    width: 26%;
    background-color: var(--btn1);
    height: 46px;
    border: none;
    position: relative;

}

.section9 .col1 .icon{
padding: 15px;
text-align: right;

}

.section9 .col1 .icon a
{    background: var(--background);
    border-radius: 50%;
    width: 33px;
    height: 33px;
    padding: 8px 11px;
    font-size: 30px;
    margin-right: 5px;
}
.icon i{
    color:var(--bgfooter)

}



